---
title: "Teaching"
permalink: /teaching/
author_profile: true
---

This webpage lists the courses I am giving as <em>main lecturer</em> at <em>Université du Québec à Montréal</em>, as well as other institution as invited lecturer. If you are interested to join the <a href="https://ace-design.github.io/" target="_blank">ACE group</a> as an intern, bachelor, master, PhD or post-doctoral student, have a look at our offers on the <a href="https://ace-design.github.io/offers.html" target="_blank_">dedicated webpage</a>. Or drop me an <a href="mailto:mosser@i3s.unice.fr?subject='Internship in your group'">email</a>!
  
<h2>Offered Courses</h2>

{% for course in site.teaching reversed %}
  {% if course.status == "current" %}
<h3> {{course.title}} {% if course.code != nil %}({{course.code}}){% endif%}</h3>
{% if course.language != nil %}
<div class="phoca-box"><span class="phoca-flag {{course.language}}" /> </div>
{% endif %}
<ul style="line-height:1.1em;">
  {% if course.venue != nil %}
    <li> <em> {{course.venue}}</em> </li>
  {% endif %}
  <li> {{ course.type | default: "?" }}, {{course.session | default: "?"}}-{{ course.date | default: "1900-01-01" | date: "%y" }}</li>
  <li> <a href="{{course.website}}" target="_blank">Website</a>
</ul>
<p> <em> {{course.content | markdownify }} </em> </p>
  {% endif %}
{% endfor %}

<h2>Archived Courses (Since 2017)</h2>

<ul>
{% for course in site.teaching reversed %}
{% if course.status != "current" %}
<li> {{ course.date | default: "1900-01-01" | date: "%Y" }}:
  {% if course.website == nil %}
  {{course.title}}
  {% else %}
  <a href="{{course.website}}" target="_blank">{{course.title}}</a>
  {% endif %}
  ({% if course.code != nil %}{{ course.code }}, {% endif %}{{ course.session }}), <em>{{ course.type }}</em>.
{% if course.venue != nil %}
    <ul> <li> <em> {{course.venue}}</em> </li> </ul>
{% endif %}
{% endif %}
{% endfor %}
</ul>
