[run]
branch = True
source = backend

[report]
include = backend/*
omit =
    */test/*
    */migrations/*
    */__init__.py
    backend\manage.py 
    backend\config\*
    backend\models\*
    backend\admin\*
include_namespace_packages = true
show_missing = True
skip_empty = true

